.tooltip {
    border: none !important; /* Supprime la bordure du tooltip */
}

.tooltip .tooltip-inner {
    border: none !important; /* Supprime la bordure de l'intérieur du tooltip */
}

.tooltip .arrow::before {
    border-color: transparent !important; /* Rend toutes les parties de la flèche transparentes */
}

.tippy-content {
    padding: 0 !important;
}

.user-tooltip {

    width: 300px;
    border: 1px solid #3f3f58;

    &-header {

        padding: 5px;
        background: #26263f;
        color: #dfdfdf;

        .join-info {
            font-size: 14px;
        }
    }

    &-content {
        padding: 0 5px;
        background: #161628;

        hr {
            margin: 5px 0 15px 0;
        }

        &-informations {

            font-size: 13px;
            color: #bebebe;
            padding-top: 5px;

        }

        &-buttons {
            padding-bottom: 15px;
        }
    }

}

.conversation-button {
    background: #6f6f6f;
    transition: 0.2s ease-in-out;
    color: whitesmoke;
    font-size: 14px;
    padding: 8px;
    margin: 5px 0;
    text-decoration: none;

    &:hover {
        color: whitesmoke;
        background: #7b7b7b;
    }
}


.username-history {
    background: $color-primary;

    &-title {
        font-size: 18px;
        border-bottom: 1px solid rgba(153, 153, 153, 0.5);
    }

    &-content {
        color: #d5d5d5;
        display: flex;
        flex-direction: column;
    }
}
