@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$image-path: './../image/';
$font-path: './fonts/';

@import "variables-override";
@import "bootstrap/scss/bootstrap";

@import "mixin";

@import "components/content-components";
@import "vars";
@import "editor/editor";

.nav-tabs .nav-item a {
    background-color: #13132a;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}
