$color-primary: #1A1A2E; // https://www.color-hex.com/color/1a1a2e
$color-primary-light: #1F1F33;
$color-secondary: #45BEE9;
$color-secondary-t-70: rgba(69, 190, 233, .7);
$color-secondary-light: #8FCCE2;
$color-tertiary: #252539;
$color-quaternary: #252539;
$color-quinary: #073a4c;
$color-senary: #fcd020;
$color-septenary: #BC153B;
$color-bronze: #614e1a;
$color-silver: #aaa9ad;
$color-progress-bar-follow: #46d863;
$color-progress-bar-sub: #A628D7;

$color-premium: #3C382D;
$color-premium-yellow: #fdde15;

$color-white: #EBFAFF;

$border-radius-small: 2px;
$border-radius-medium: 10px;
$border-radius-big: 20px;

$border-error: #CF1C13;
$border-success: #23E516;


$train-red: #e04f60;
$train-yellow: #ffc928;
