.configurations {

    margin-left: auto;
    display: flex;
    width: 1000px;
    background: $color-primary;
    flex-shrink: 0;

    ::-moz-selection {
        background-color: rgba(178, 193, 193, 0.5) !important;
    }

    ::selection {
        background-color: rgba(178, 193, 193, 0.5) !important;
    }

    a {
        text-decoration: none;
    }

    &-itemstack {
        width: 50%;
        height: 100%;
        border-right: 1px solid gray;
    }

    .disabled {
        cursor: not-allowed;
    }

    &-button {
        width: 50%;
        height: 100%;

        &-header {
            text-align: center;
            font-size: 18px;
        }

        &-top {
            width: 100%;
            height: 60%;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        &-bottom {

            border-top: 1px solid gray;
            width: 100%;
            height: 40%;
            overflow-y: scroll;

        }

    }

}
