@import "items";
@import "configuration";

.inventory-builder {

    display: flex;
    height: 850px;

    ::-moz-selection {
        background-color: transparent;
    }

    ::selection {
        background-color: transparent;
    }

    &-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

}
