@import "items";
@import "configuration";

.inventory-builder {

    display: flex;
    height: 1000px;
    padding-bottom: 50px;

    ::-moz-selection {
        background-color: transparent;
    }

    ::selection {
        background-color: transparent;
    }

    &-center {

        flex-grow: 1;
        display: flex;
        flex-direction: column;


        &-inventory {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        &-configuration {
            height: 350px;
            background: $color-primary;
            overflow: scroll;

            ::-moz-selection {
                background-color: rgba(178, 193, 193, 0.5);
            }

            ::selection {
                background-color: rgba(178, 193, 193, 0.5);
            }

        }


    }


}
